1 - Importar os csvs separados por tabelas para a banco de dados ( Oracle).

    a - Baixar os arquivos csv.     (realizado)
    b - Leitura dos arquivos e tratamentos dos dados. 
    c - Identificação e alteração dos DataTypes quando nescessário.
    d - Deletar ou alterar registros quando nescessário.
    e - Importar os csv para a base de dados.
    f - Refatorar e organizar o script para receber diferentes csv e ter uma melhor leitura do codigo.
    g - Tratamento de exceções.

In [262]:
#   Bibliotecas
import pandas as pd
import cx_Oracle
from sqlalchemy import create_engine, types
from sqlalchemy.dialects.oracle import VARCHAR2

In [332]:
dtype_tabela = {}


def tratamento_sobre_colunas(dataframe):

    if 'id' in dataframe.columns:
        dataframe['id'] = dataframe['id'].astype(dtype='int64')

    elif 'km' in dataframe.columns:
        dataframe['km'] = dataframe['km'].str.replace(',', '.')

    try:
        dataframe['data_hora_acidente'] = pd.to_datetime(
            dataframe['data_inversa']+' '+dataframe['horario'])
    except:
        pass

    return dataframe


def validacao_sobre_tipo_colunas(dataframe):
    for coluna, tipo_coluna in dataframe.dtypes.iteritems():
        if tipo_coluna == 'float64':
            dataframe[coluna] = dataframe[coluna].astype(dtype='str')

        if tipo_coluna == 'int64':
            dtype_tabela[coluna] = types.INTEGER()

        else:
            dtype_tabela[coluna] = types.VARCHAR(
                100).with_variant(VARCHAR2(100), 'oracle')


def importar_para_oracle(dataframe, nome_tabela):
    engine = create_engine(
        'oracle+cx_oracle://system:mcds123@localhost:1521/xe')
    with engine.begin() as conexao:
        dataframe.to_sql(name=nome_tabela, con=conexao, if_exists='replace',
                         index=False, chunksize=100, dtype=dtype_tabela)

In [319]:
try:
    cx_Oracle.init_oracle_client(lib_dir=r"C:\instantclient_19_19")
except Exception as error:
    if 'Oracle Client library has already been initialized' in str(error):
        print('oracle já incializado')

oracle já incializado

In [333]:
#   Leitura dos arquivos e tratamentos dos dados. 
df = pd.read_csv('datatran2020.csv', sep=';')

#   Deletar ou alterar registros quando nescessário.
df_ = tratamento_sobre_colunas(dataframe=df)

#   Identificação e alteração dos DataTypes quando nescessário.
validacao_sobre_tipo_colunas(dataframe=df)

#   Importar os csv para a base de dados.
importar_para_oracle(dataframe=df, nome_tabela='aaaa')

C:\Users\mathe\AppData\Local\Temp\ipykernel_10816\3636085431.py:22: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for coluna, tipo_coluna in dataframe.dtypes.iteritems():

In [335]:
df.head(10)

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop,data_hora_acidente
0,260031,2020-01-01,quarta,01:00:00,TO,153.0,"678,1",GURUPI,Animais na Pista,Atropelamento de Animal,...,0,0,5,1,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN,2020-01-01 01:00:00
1,260036,2020-01-01,quarta,01:00:00,RJ,116.0,178,NOVA IGUACU,Falta de Atenção do Pedestre,Atropelamento de Pedestre,...,1,0,0,1,"-22,75223028","-43,4379103",SR-RJ,DEL5/1,UOP02/RJ,2020-01-01 01:00:00
2,260037,2020-01-01,quarta,01:52:00,SC,101.0,"206,9",SAO JOSE,Ingestão de Álcool,Colisão lateral,...,1,0,1,2,"-27,59193546","-48,61824557",SR-SC,DEL8/1,UOP01/SC,2020-01-01 01:52:00
3,260038,2020-01-01,quarta,01:15:00,RO,364.0,236,CACOAL,Velocidade Incompatível,Saída de leito carroçável,...,0,0,1,1,"-11,44624577","-61,43761218",SR-RO,DEL21/2,UOP02/RO,2020-01-01 01:15:00
4,260039,2020-01-01,quarta,01:30:00,PR,153.0,360,REBOUCAS,Ingestão de Álcool,Capotamento,...,0,0,6,1,"-25,67503796","-50,75089805",SR-PR,DEL7/3,UOP04/PR,2020-01-01 01:30:00
5,260040,2020-01-01,quarta,00:40:00,RO,319.0,64,PORTO VELHO,Ingestão de Álcool,Colisão transversal,...,2,0,0,2,"-8,76751908","-63,88427496",SR-RO,DEL21/1,UOP01/RO,2020-01-01 00:40:00
6,260041,2020-01-01,quarta,02:20:00,SC,101.0,"89,9",BARRA VELHA,Falta de Atenção à Condução,Colisão com objeto estático,...,1,0,0,1,"-26,66327987","-48,68898153",SR-SC,DEL8/3,UOP02/SC,2020-01-01 02:20:00
7,260042,2020-01-01,quarta,02:15:00,PR,369.0,155,LONDRINA,Desobediência às normas de trânsito pelo condutor,Colisão transversal,...,2,0,1,2,"-23,29286194","-51,16154861",SR-PR,DEL7/7,UOP01/PR,2020-01-01 02:15:00
8,260043,2020-01-01,quarta,02:30:00,AL,104.0,37,UNIAO DOS PALMARES,Animais na Pista,Atropelamento de Animal,...,0,0,0,1,"-9,17491283","-36,02935415",SR-AL,DEL13/1,UOP02/AL,2020-01-01 02:30:00
9,260044,2020-01-01,quarta,00:20:00,RS,290.0,97,PORTO ALEGRE,Falta de Atenção à Condução,Tombamento,...,0,0,2,1,"-29,997789","-51,20779",SR-RS,DEL9/1,UOP01/RS,2020-01-01 00:20:00

In [334]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63530 entries, 0 to 63529
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      63530 non-null  int64
 1   data_inversa            63530 non-null  object
 2   dia_semana              63530 non-null  object
 3   horario                 63530 non-null  object
 4   uf                      63530 non-null  object
 5   br                      63530 non-null  object
 6   km                      63372 non-null  object
 7   municipio               63530 non-null  object
 8   causa_acidente          63530 non-null  object
 9   tipo_acidente           63530 non-null  object
 10  classificacao_acidente  63530 non-null  object
 11  fase_dia                63530 non-null  object
 12  sentido_via             63530 non-null  object
 13  condicao_metereologica  63530 non-null  object
 14  tipo_pista              63530 non-null  object
 15  tracado_via             63530 non-null  object
 16  uso_solo                63530 non-null  object
 17  pessoas                 63530 non-null  int64
 18  mortos                  63530 non-null  int64
 19  feridos_leves           63530 non-null  int64
 20  feridos_graves          63530 non-null  int64
 21  ilesos                  63530 non-null  int64
 22  ignorados               63530 non-null  int64
 23  feridos                 63530 non-null  int64
 24  veiculos                63530 non-null  int64
 25  latitude                63530 non-null  object
 26  longitude               63530 non-null  object
 27  regional                63530 non-null  object
 28  delegacia               63530 non-null  object
 29  uop                     63131 non-null  object
 30  data_hora_acidente      63530 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(21)
memory usage: 15.0+ MB